<!DOCTYPE html>
<html>
<script src="../scripts/secondpagescript.js"></script>
<body>

<h1>The select element</h1>

<form action="comes later">
  <label for="cbs_existing_tables">Choose a table:</label>
  <select name="cbs_existing_tables" id="cbs_existing_tables">

    <% if (existing_tables.length == 0){%>
      
    <% } %>
    <% if (existing_tables.length == 1){ %>
      <option value = "<%=existing_tables[0]%>"> <%= existing_tables[0]%></option>
    <% } %>
    <% if (existing_tables.length > 1) { %>
      <% existing_tables.forEach((tester) => {%>
          <option value = "<%=tester%>"><%= tester %></option>
      <%}); %>
    <% } %>

  </select>
  <br><br>
  <input type="submit" value="Fetch Data">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

<div id="cbs_selected_table">
  
</div>

</body>
</html>
